# Ignore everything
*

# But not Java files...
!.gitignore
!*.java

# And CI
!.travis.yml
!build.gradle.kts
!gradlew
!LICENSE
!*.md
!settings.gradle
!*.lua

# ...even if they are in subdirectories
!*/